*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background: url(/musical-background-with-musical-keys-black-flat-lay-copy-space.png);
    background-repeat:repeat-y;
    background-size:105%;
    background-color:rgba(18, 18, 63, 0.95);

}
.keys{
    margin-top: 32vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.key{
    border: 4px solid wheat;
    border-radius: 5px;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.07s;
    width: 100px;
    text-align: center;
    background: rgba(233, 228, 228, 0.5);
    text-shadow: 0 0 5px rgb(48, 68, 60);
}
.playing{
    transform: scale(1.1);
    border-color: rgb(2, 6, 255);
    box-shadow: 0 0 10px #bebebe;
}

kbd{
    display: block;
    font-size: 40px;
    color: blue;
}



.sound{
    font-size: 1.5rem;
    text-transform: uppercase;
}